.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  align-items: center;

  background-color: #1c0a00;
}

.header h1 {
  color: #f4ab25;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;

  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #f4ab25;
  display: block;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}

.header a {
  background-color: #603601;
  border-radius: 10px;
}
